events {
    worker_connections 1024;
}

http {
    include /etc/nginx/mime.types;
    default_type application/octet-stream;
    client_max_body_size 76g;
    client_body_buffer_size 256m;

    proxy_connect_timeout 300s;
    proxy_read_timeout 1200s;
    proxy_send_timeout 300s;
    send_timeout 300s;

    gzip on;
    gzip_static on; # Serve pre-compressed .gz files
    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_types text/plain text/css text/xml application/json application/javascript application/rss+xml image/svg+xml;

    server {
        listen ${NGINX_PORT};
        server_name ${SERVER_NAME};

        root /usr/share/nginx/html;
        index index.html;

        # Este bloque ahora manejará tanto los assets de React como los de Cesium
        location /assets/ {
            try_files $uri =404;
            add_header Cache-Control "public, max-age=31536000, immutable";
            access_log off;
        }

        location / {
            try_files $uri $uri/ /index.html;
            add_header Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0";
        }

        location /api/ {
            add_header Cache-Control "no-cache, must-revalidate" always;
            
            proxy_pass  http://backend:8000;   # DOCKER SERVICE NAME AND API PORT
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }
}